* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ebebeb;
  --white: #fff;
  --black: #000;
  --text-color: #252525;
  --border-color-1: #313131;
  --border-color-2: #828282;
  --base-color: #a413ff;

  overflow-x: hidden;
}

body {
  background: var(--background);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background: var(--white);
}

header h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--black);
}

header h1 span {
  color: var(--base-color);
}

main {
  margin: 5rem auto 0 auto;
  width: 95%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form input {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border-color-1);
  outline: none;
  transition: 0.3s;
}

form input:focus {
  border-color: var(--base-color);
}

form button {
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  width: fit-content;
  outline: none;
  color: var(--white);
  background: var(--base-color);
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  transition: 0.3s;
}

form button:hover {
  filter: brightness(1.05);
}

.without-links {
  font-family: 'Poppins', sans-serif;
  color: var(--border-color-2);
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;

  width: 100%;
  height: 15rem;
}

.without-links.show {
  display: flex;
}

table {
  font-family: 'Open sans', sans-serif;
  margin-top: 3rem;
  width: 100%;
}

table thead td {
  padding: 1rem;
  background: var(--base-color);
  color: var(--white);
  border-radius: 10px 10px 0 0;
  text-align: center;
}

thead td {
  width: 35%;
}

thead td + td {
  width: 55%;
}

td + td p {
  width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  text-align: center;
  font-size: 1rem;
}

tbody td {
  background: var(--white);
  padding: 1rem;
  border-top: 1px solid var(--border-color-2);
  border-right: 1px solid var(--border-color-2);
}

tbody td + td {
  border-right: none;
}

tbody tr:last-child td {
  border-radius: 0 0 0 10px;
}

tbody tr:last-child td + td {
  border-radius: 0 0 10px 0;
}
